// colors

$color-1: #3e454c; // Mako
$color-2: #1784c7; // Denim
$color-3: #ffffff; // White
$color-4: #ff7e66; // Salmon


// fonts 

$primary-font: 'Open Sans', sans-serif;

// header size

$header-height-S: 45px;
$header-height-M: 55px;

//sidebar size

$sidebar-width-M: 110px;
$sidebar-width-L: 200px;